<% if @errors %>
  <ul>
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

<h1> WELCOME TO GAMEOVERFLOW !!! </h1>

<%= erb :"/questions/_new", :layout => false %>

<% @questions.each do |question| %>
<ul>
  <li>
    <a href="/questions/<%= question.id %>"><%= question.title %></a><br>
    <form></form>
    <span><%= question.vote_sum %></span>
    <span><%= question.author.username %></span>
    <span><%= question.created_at %></span>
  </li>
</ul>
<% end %>
