<h1><%= @question.title %></h1>

<div>
  <p><%= @question.body %></p>
  <span><%= @question.vote_sum %></span>
  <span><%= @question.author.username %></span>
  <span><%= @question.created_at %></span>
</div>

<div>
  <h2>Answers:</h2>
  <ul>
    <% @question.answers.each do |answer| %>
    <li>
      <%= answer.description %><br>
      <span><%= answer.vote_sum %></span>
      <span><%= answer.answerer.username %></span>
      <span><%= answer.created_at %></span>
      </li>
  </ul>
      <p>
        <h3>Comments for answer:</h3>
        <ul>
          <% answer.comments.each do |comment| %>
          <li><%= comment.content %></li>
          <span><%= comment.vote_sum %></span>
          <span><%= comment.commenter.username %></span>
          <span><%= comment.created_at %></span>
        </ul>
        <% end %>
        <% end %>
      </p>
</div>

<h4>Comments for questions:</h4>
<div>
  <% @question.comments.each do |comment| %>
  <ul>
    <li>
      <%= comment.content %><br>
      <span><%= comment.vote_sum %></span>
      <span><%= comment.commenter.username %></span>
      <span><%= comment.created_at %></span>
    </li>
  </ul>
  <% end %>
</div>


