<h1><%= @question.title %></h1>

<div class='question'>
  <h2>Question:</h2>
  <p><%= @question.body %> <br>
    <span><%= @question.vote_sum %></span>
    <span><%= @question.author.username %></span>
    <span><%= @question.created_at %></span>
  </p>
<%= erb :"/answers/_new", :layout => false %>
</div>

<div class='question_comments'>
  <h2>Question Comments:</h2>
  <% path = "/questions/#{@question.id}/comments" %>
  <%= erb :"/comments/_new", layout: false, locals: { path: path } %>
  <ul>
  <% @question.comments.each do |comment| %>
    <li>
      <p>
        <%= comment.content %><br>
        <span><%= comment.vote_sum %></span>
        <span><%= comment.commenter.username %></span>
        <span><%= comment.created_at %></span>
      </p>
    </li>
  <% end %>
  </ul>
</div>


<div class='answers'>
  <% @question.answers.each do |answer| %>
    <p>
      <h3>Answer:<%= answer.id %></h3>
      <%= answer.description %><br>
      <span><%= answer.vote_sum %></span>
      <span><%= answer.answerer.username %></span>
      <span><%= answer.created_at %></span>
    </p>
    <% path = "/questions/#{@question.id}/answers/#{ answer.id }/comments" %>
    <%= erb :"/comments/_new", layout: false, locals: { path: path } %>

    <h4>Comments for this  answer <%= answer.id %>:</h4>
    <% answer.comments.each do |comment| %>
    <ul>
      <li>
        <p>
          <%= comment.content %> <br>
          <span><%= comment.vote_sum %></span>
          <span><%= comment.commenter.username %></span>
          <span><%= comment.created_at %></span>
        </p>
      </li>
    </ul>
    <% end %>
  <% end %>
</div>


