 <h1><%= @question.title %></h1>

<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<div class='question'>
  <h2>Question:</h2>
  <p><%= @question.body %></p>
    <form action='/questions/<%= @question.id %>/votes' method='POST'><input name="upvote" type='submit' class = "upvote-button" value="Up">
    </form>
    <form action='/questions/<%= @question.id %>/votes' method='POST'><input name="downvote" type='submit' class = "downvote-button" value="Down"></form>
    <span class="vote"><%= @question.vote_total %></span>
    <span><%= @question.author.username %></span>
    <span><%= @question.created_at %></span>

  <%= erb :"/answers/_new", :layout => false %>

  <div class='revise_question'>
    <% if logged_in? %>
      <a href="/questions/<%= @question.id %>/edit">Edit</a>
      <form method="POST" action="/questions/<%= @question.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </form>
    <% end %>
  </div>
</div>

<div class='question_comments'>
  <h2>Question Comments:</h2>
  <% path = "/questions/#{@question.id}/comments" %>
  <%= erb :"/comments/_new", layout: false, locals: { path: path } %>

  <% @question.comments.each do |comment| %>
    <ul>
      <li>
        <form action='/comments/<%= comment.id %>/votes' method='POST'><input name="upvote" type='submit' class = "upvote-button" value="Up"></form>
        <form action='/comments/<%= comment.id %>/votes' method='POST'><input name="downvote" type='submit' class = "downvote-button" value="Down"></form>
        <%= comment.content %><br>
        <span class="vote"><%= comment.vote_total %></span>
        <span><%= comment.commenter.username %></span>
        <span><%= comment.created_at %></span>
      </li>
    </ul>
  <% end %>
</div>


<div class='answers'>
  <% @question.answers.each do |answer| %>
      <h3>Answer:<%= answer.id %></h3>
      <p><%= answer.description %></p>
      <p>
        <ul><li>
        <form action='/answers/<%= answer.id %>/votes' method='POST'><input name="upvote" type='submit' class = "upvote-button" value="Up"></form>
        <form action='/answers/<%= answer.id %>/votes' method='POST'><input name="downvote" type='submit' class = "downvote-button" value="Down"></form>
        <span class='vote'><%= answer.vote_total %></span>
        <span><%= answer.answerer.username %></span>
        <span><%= answer.created_at %></span></li>
        </ul>

        <div class='revise_answer'>
          <% if logged_in? %>
            <div>
              <a href="/answers/<%= answer.id %>/edit">Edit</a>
              <form method="POST" action="/answers/<%= answer.id %>">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete">
              </form>
            </div>
          <% end %>
        </div>

      </p>
    <% path = "/answers/#{ answer.id }/comments" %>
    <%= erb :"/comments/_new", layout: false, locals: { path: path } %>

    <h4>Comments for this  answer <%= answer.id %>:</h4>
    <% answer.comments.each do |comment| %>
      <ul>
        <li>
          <form action='/comments/<%= comment.id %>/votes' method='POST'><input name="upvote" type='submit' class = "upvote-button" value="Up"></form>
            <form action='/comments/<%= comment.id %>/votes' method='POST'><input name="downvote" type='submit' class = "downvote-button" value="Down"></form>
            <%= comment.content %> <br>
            <span class="vote"><%= comment.vote_total %></span>
            <span><%= comment.commenter.username %></span>
            <span><%= comment.created_at %></span>
        </li>
      </ul>
    <% end %>
  <% end %>
</div>



